:root {
  --mainColor: #d3a641;
  --secondaryColor: #006a4e;
  --backgroundColor: #282c34;
}

body {
  background-color: var(--backgroundColor);
  font-weight: 300;
  margin: 0.5rem;
}

.App {
  text-align: center;
  background-color: var(--backgroundColor);
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: absolute;
  top: 10vh;
  left: 0;
  right: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  font-weight: 100;
}

.logo-nav {
  height: 5vh;
  position: absolute;
  left: 0;
}

.navbar {
  background-color: var(--backgroundColor);
  min-height: 10vh;
  display: flex;
  justify-content: flex-end;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: all 0.2s;
}

.App a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.App a:hover:after {
  width: 100%;
  left: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  margin: 0.4rem;
  list-style-type: none;
  display: inline-block;
  padding: 0;
  font-weight: 400;
  transition: all 0.2s;
}

li:hover {
  transform: translateY(-0.3rem);
}

.react-link {
  color: var(--mainColor);
  border-radius: 5px;
  width: 4rem;
  padding: 0.4rem;
  text-align: center;
}

.react-link:hover {
  box-shadow: 0 5px 5px 0px var(--secondaryColor);
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.hl {
  color: var(--mainColor);
}

.App-link {
  color: var(--secondaryColor);
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
} */

/* Fade - enter 300ms exit 150ms */

.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in 150ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms ease-out;
}
