body {
  background-color: #282c34;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: absolute;
  top: 10vh;
  left: 0;
  right: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.logo-nav {
  height: 5vh;
  position: absolute;
  left: 0;
}

.navbar {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  justify-content: flex-end;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  display: inline-block;
  padding: 10px;
}

.react-link {
  text-decoration: none;
  color: #ffea31;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.hl {
  color: #ffea31;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
} */

/* Fade - enter 300ms exit 150ms */

.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in 150ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms ease-out;
}
