@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,400&display=swap&subset=latin-ext");

body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Raleway", sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
